/* Globals */

html {
    font-size: 10px / 16px * 100%; // Set browser font size to ~10px
}

body {
    background: $background-color;
    color: $text-color;
    font-size: 1.6rem; // Set base font size to ~16px
}

a {
    color: $link-color;
    text-decoration: none;
}

label {
    display: block;
}

select {
    background: rgb(223, 223, 223);
    padding: 15px;
    // width: 800px;
    margin: 2rem;
}

option {
    text-align: center;
}

.fullscreen-section {
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    border-bottom: 1px solid $text-color;
}

.section-content {
    margin: auto;
    text-align: center;
}

.scroll-button {
    display: block;
    background: $text-color;
    color: #000000;
    border: 1px solid $text-color;
    border-radius: 5px;
    padding: 1em;
}

.wrapper {
    max-width: $max-content-width;
    margin: 0 auto;
    border-left: 1px dotted tomato;
    border-right: 1px dotted tomato;
}