/* Globals */

html {
    font-size: 10px / 16px * 100%; // Set browser font size to ~10px
}

body {
    background: $background-color;
    color: $text-color;
    @include bevinFont;
    font-size: 1.6rem; // Set base font size to ~16px
    text-transform: lowercase;
}

a {
    color: $link-color;
    text-decoration: none;
}

h1 {
    font-size: 7rem;
}

h2 {
    font-size: 6rem;
}

h1,
h2 {
    margin-top: 0;
}

label {
    display: block;
}

select {
    background: rgb(223, 223, 223);
    padding: 15px;
    margin: 2rem;
    text-transform: lowercase;
}

option {
    text-align: center;
}

.fullscreen-section {
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    // border-bottom: 1px solid $text-color;
}

.section-content {
    margin: auto;
    text-align: center;
}

.scroll-button {
    display: flex;
    width: 100 / 24 * 1em;
    height: 100 / 24 * 1em;
    margin: 0 auto;
    background: $white;
    color: $link-color;
    border: 2px solid $text-color;
    border-radius: 50%;
    font-size: 2.4rem;
    transition:
        background-color 0.3s ease,
        color 0.3s ease;

    p {
        margin: auto;
    }

    &:hover,
    &:focus {
        background-color: $text-color;
        color: $background-color;
    }
}

.wrapper {
    max-width: $max-content-width;
    margin: 0 auto;
    // border-left: 1px dotted tomato;
    // border-right: 1px dotted tomato;
}