/* Globals */

html {
    font-size: 10px / 16px * 100%; // Set browser font size to ~10px
}

body {
    background: $background-color;
    color: $text-color;
    @include bevinFont;
    font-size: 2rem; // Set base font size to ~16px
    text-transform: lowercase;
    line-height: 1.5;

    @media (max-width: 480px) {
     font-size: 1.6rem;   
    }
}

a {
    color: $link-color;
    text-decoration: none;
}

h1 {
    font-size: 7rem;
    margin: 0 0 4rem 0;

    @media (max-width: 480px) {
        font-size: 4rem;
    }
}

h2 {
    font-size: 6rem;
    margin: 0 0 2.5rem 0;

    @media (max-width: 480px) {
     font-size: 3.6rem;   
    }
}

h1,
h2 {
    line-height: 1.1;
}

label {
    display: block;
}

.select-container {
    border: 2px solid $text-color;
    border-radius: 15px;
    display: inline-block;
    margin: 2rem;
    padding: 1rem 2rem;
    background: $white;
    font-size: 2.8rem;

    @media (max-width: 480px) {
     font-size: 2rem;   
    }
}

select {
    background: transparent;
    border: 0;
    text-transform: lowercase;
}

option {
    text-align: center;
}

.fullscreen-section {
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    // border-bottom: 1px solid $text-color;
}

.section-content {
    margin: auto;
    text-align: center;
    position: relative;
}

.scroll-button {
    display: flex;
    width: 100 / 24 * 1em;
    height: 100 / 24 * 1em;
    margin: 2rem auto;
    background: $white;
    color: $link-color;
    border: 2px solid $text-color;
    border-radius: 50%;
    font-size: 2.4rem;
    transition:
        background-color 0.3s ease,
        color 0.3s ease;

    p {
        margin: auto;
    }

    &:hover,
    &:focus {
        background-color: $text-color;
        color: $background-color;
    }

    @media (max-width: 480px) {
     font-size: 2rem;   
    }
}

.wrapper {
    max-width: $max-content-width;
    margin: 0 auto;
    padding: 0 1.6rem;
    // border-left: 1px dotted tomato;
    // border-right: 1px dotted tomato;
}