/* Results */
.results {
    font-size: 3.6rem;
    margin: auto;

    @media (max-width: 540px) {
        font-size: 2rem;
    }
}

.success-accent {
    color: $success-color;
}

.failure-accent {
    color: $failure-color;
}

.reload-form {
    opacity: 0;
}

.reload-button {
    @extend .submit-button;
    margin: 1.4rem 0 0 0;
}