/* Header */
header {
    background: url(../assets/system_sleep.svg) center 10vh no-repeat;
}

.instructions {
    opacity: 0;
    margin: 4rem 0;
    color: lighten($text-color, 10%);

    p {
        margin: 0.75rem;
        letter-spacing: 2px;

        @media (max-width: 480px) {
         margin: 2rem;   
        }
    }

    span {
        font-size: 1.4em;
    }
}