/* Header */
header {
    background: url(../assets/system_sleep.svg) center 10vh no-repeat;
}

.instructions {
    opacity: 0;
    margin: 4rem 0;
    color: lighten($text-color, 10%);
    font: {
        family: 'Open Sans', sans-serif;
        weight: 700;
    }
    text-transform: initial;

    p {
        margin: 0.75rem;

        @media (max-width: 480px) {
         margin: 2rem;   
        }
    }

    span {
        font-size: 1.4em;
    }
}