/* 
 * Was I Sleeping?
 * HackerYou Bootcamp Project 3
 * Designed and built by Dylan On

 */

// Variables

$max-content-width: 750px;

$text-color: #373737;
$link-color: #373737;
$background-color: #f0f0f0;
$success-color: #012975;
$failure-color: #ff7101;
$white: #ffffff;
$black: #000000;

@import 'partials/setup';
@import 'partials/mixins';
@import 'partials/globals';
@import 'partials/header';
@import 'partials/time-section';
@import 'partials/results';