/* 
 * Was I Sleeping?
 * HackerYou Bootcamp Project 3
 * Designed and built by Dylan On

 */

 // Variables

 $max-content-width: 750px;

 $text-color: #ffffff;
 $link-color: #ffffff;
 $background-color: darkblue;

@import 'partials/setup';
@import 'partials/globals';